*{
    border: yellowgreen;

}

.Header{
    background-color: yellowgreen;
    display: flex;
    justify-content: space-between;
}

.Header *{
    border: solid;
}

h1{
    color: white;
    padding: 30px;
}

.item{
    position: relative;
}

.item p{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%,40%);
    opacity: 0;
}

.item:hover p{
    opacity :1;
}

.item:hover img{
    opacity: 0.5;
    transform: scale(1.2);
}

.Menu *{
    margin-left: 30px;
    margin-right: 5px;
    
}

a:link{
    color : black;

}

a:visited{
    color: green;
}

.Menu{
    background-color: violet;
}

.grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{text-align: center;}

body{
    background-color: #506040;
}